name: blackout
services:
  web:
    container_name: blackout-web
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-postgres}@db:5432/${POSTGRES_DB:-blackout}?schema=public
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - NEXTAUTH_URL=${NEXTAUTH_URL}
    depends_on:
      db:
        condition: service_healthy
    networks:
      - blackout
  db:
    container_name: blackout-db
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-blackout}
    ports:
      - "5432:5432"
    volumes:
      - blackout_db:/var/lib/postgresql/data
    healthcheck:
      test: "pg_isready -U ${POSTGRES_USER:-postgres}"
      start_interval: 2s
      start_period: 1m
    networks:
      - blackout

  nocodb:
    image: nocodb/nocodb:latest
    container_name: nocodb
    restart: always
    ports:
      - "8081:8080"
    volumes:
      - nocodb:/usr/app/data/
    depends_on:
      - db
    environment:
      NC_DB_TYPE: pg
      NC_DB_HOST: blackout-db
      NC_DB_PORT: 5432
      NC_DB_USER: ${POSTGRES_USER:-postgres}
      NC_DB_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      NC_DB_DATABASE: ${POSTGRES_DB:-blackout}
      NC_AUTH_JWT_SECRET: "569a1821-0a93-45e8-87ab-eb857f20a010"
    networks:
      - blackout


volumes:
  blackout_db:
    name: blackout_db
  nocodb:
    name: nocodb_data

networks:
  blackout:
    name: blackout